<%= provide :title, t("admin.users.show") %>
<div class="row">
  <div class="col-md-4">
    <li class="users">
      <strong>
        <h4><%= @user.name %></h4>
      </strong>
    </li>
  </div>
</div>
